[buildout]
extends = http://dist.plone.org/release/4.3-latest/versions.cfg
find-links =
    http://dist.plone.org/release/4.3-latest/
    http://dist.plone.org/thirdparty/

unzip = true

parts =
    zeo-server
    instance
    instance-1
    plonesite
    warmup

eggs =
    collective.warmup

develop = .
versions = versions

[versions]
collective.recipe.plonesite = 1.8.2

[warmup]
recipe = zc.recipe.egg:scripts
eggs = collective.warmup


[zeo-server]
recipe = plone.recipe.zeoserver
zeo-server = 127.0.0.1:8100
blob-storage = ${buildout:directory}/var/blobstorage
eggs =
    plone.app.blob
    ZopeUndo


[instance-config]
user = admin:admin
debug-mode = on
verbose-security = on
shared-blob = on
eggs =
    Plone
    ${buildout:eggs}
zcml =
zeo-client = True
zeo-address = ${zeo-server:zeo-server}
blob-storage = ${buildout:directory}/var/blobstorage
environment-vars =
    WARMUP_BIN ${buildout:directory}/bin/warmup
    WARMUP_INI ${buildout:directory}/warmup.ini

[instance]
recipe = plone.recipe.zope2instance
<= instance-config
http-address = 8082


[instance-1]
recipe = plone.recipe.zope2instance
<= instance-config
http-address = 8080


[plonesite]
recipe = collective.recipe.plonesite
site-id = Plone
instance = instance
zeoserver = zeo-server
profiles-initial =
    Products.CMFPlone:plone-content
profiles =
